In [ ]:
#1. Membaca data yang ada di Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [ ]:
data = pd.read_csv('/content/Fruit Sales Data.csv')
data

    Fruit_Name  Weight_in_Kg  Total_Cost Purchased
0        Apple          44.0     72000.0        No
1        Mango          27.0     48000.0       Yes
2       Orange          30.0     54000.0        No
3   Strawberry          38.0     61000.0        No
4       Orange          40.0         NaN       Yes
5        Mango          35.0     58000.0       Yes
6        Apple           NaN     52000.0        No
7   Strawberry          48.0     79000.0       Yes
8   Strawberry          50.0     83000.0        No
9        Apple          37.0     67000.0       Yes
10      Orange          47.0     63000.0        No
11       Mango          39.0         NaN       Yes
12       Mango          46.0     76000.0        No
13      Orange          29.0     34000.0        No
14  Strawberry           NaN     38500.0       Yes
15       Apple          24.0     38000.0       Yes

In [ ]:
## Menampilkan buah yang tidak dibeli
tidak_ada_berat = data[data['Weight_in_Kg'].isna()]
print(tidak_ada_berat)

    Fruit_Name  Weight_in_Kg  Total_Cost Purchased
6        Apple           NaN     52000.0        No
14  Strawberry           NaN     38500.0       Yes

In [ ]:
tidak_ada_harga = data[data['Total_Cost'].isna()]
print(tidak_ada_harga)

   Fruit_Name  Weight_in_Kg  Total_Cost Purchased
4      Orange          40.0         NaN       Yes
11      Mango          39.0         NaN       Yes

In [ ]:
ada_harga_berat = data[data['Total_Cost'].notna() & data['Weight_in_Kg'].notna()]
print(ada_harga_berat)

    Fruit_Name  Weight_in_Kg  Total_Cost Purchased
0        Apple          44.0     72000.0        No
1        Mango          27.0     48000.0       Yes
2       Orange          30.0     54000.0        No
3   Strawberry          38.0     61000.0        No
5        Mango          35.0     58000.0       Yes
7   Strawberry          48.0     79000.0       Yes
8   Strawberry          50.0     83000.0        No
9        Apple          37.0     67000.0       Yes
10      Orange          47.0     63000.0        No
12       Mango          46.0     76000.0        No
13      Orange          29.0     34000.0        No
15       Apple          24.0     38000.0       Yes

In [ ]:
ada_harga_berat_strawberry = ada_harga_berat[ada_harga_berat['Fruit_Name'] == 'Strawberry']
print(ada_harga_berat_strawberry)
X1 = ada_harga_berat_strawberry.iloc[:, 1].values.reshape(-1, 1)  # values converts it into a numpy array
Y1 = ada_harga_berat_strawberry.iloc[:, 2].values.reshape(-1, 1)  # -1 means that calculate the dimension of rows, but have 1 column
linear_regressor = LinearRegression()  # create object for the class
linear_regressor.fit(X1, Y1)  # perform linear regression
print(f"intercept: {linear_regressor.intercept_}")
print(f"slope: {linear_regressor.coef_}")


strawberry = data[data['Fruit_Name'] == 'Strawberry']
print(strawberry)

for i in range(len(strawberry)):
    value = strawberry.iloc[i, 1]

    if pd.isna(value):
        y1 = strawberry.iloc[i, 2]
        x_pred = (y1 - linear_regressor.intercept_) / linear_regressor.coef_
        print(x_pred)
        strawberry.iloc[i, 1] = x_pred
        print(strawberry.iloc[i, 1])

print(strawberry)

   Fruit_Name  Weight_in_Kg  Total_Cost Purchased
3  Strawberry          38.0     61000.0        No
7  Strawberry          48.0     79000.0       Yes
8  Strawberry          50.0     83000.0        No
intercept: [-8290.32258065]
slope: [[1822.58064516]]
    Fruit_Name  Weight_in_Kg  Total_Cost Purchased
3   Strawberry          38.0     61000.0        No
7   Strawberry          48.0     79000.0       Yes
8   Strawberry          50.0     83000.0        No
14  Strawberry           NaN     38500.0       Yes
[[25.67256637]]
25.67256637168142
    Fruit_Name  Weight_in_Kg  Total_Cost Purchased
3   Strawberry     38.000000     61000.0        No
7   Strawberry     48.000000     79000.0       Yes
8   Strawberry     50.000000     83000.0        No
14  Strawberry     25.672566     38500.0       Yes

In [ ]:
ada_harga_berat_apple = ada_harga_berat[ada_harga_berat['Fruit_Name'] == 'Apple']
print(ada_harga_berat_apple)

X2 = ada_harga_berat_apple.iloc[:, 1].values.reshape(-1, 1)  # values converts it into a numpy array
Y2 = ada_harga_berat_apple.iloc[:, 2].values.reshape(-1, 1)  # -1 means that calculate the dimension of rows, but have 1 column
linear_regressor2 = LinearRegression()  # create object for the class
linear_regressor2.fit(X2, Y2)  # perform linear regression
print(f"intercept: {linear_regressor2.intercept_}")
print(f"slope: {linear_regressor2.coef_}")


apple = data[data['Fruit_Name'] == 'Apple']
print(apple)

for i in range(len(apple)):
    value = apple.iloc[i, 1]

    if pd.isna(value):
          y2 = apple.iloc[i, 2]
          x_pred2 = (y2 - linear_regressor2.intercept_) / linear_regressor2.coef_
          print(x_pred2)
          apple.iloc[i, 1] = x_pred2
          print(apple.iloc[i, 1])

print(apple)

   Fruit_Name  Weight_in_Kg  Total_Cost Purchased
0       Apple          44.0     72000.0        No
9       Apple          37.0     67000.0       Yes
15      Apple          24.0     38000.0       Yes
intercept: [-2844.66019417]
slope: [[1766.99029126]]
   Fruit_Name  Weight_in_Kg  Total_Cost Purchased
0       Apple          44.0     72000.0        No
6       Apple           NaN     52000.0        No
9       Apple          37.0     67000.0       Yes
15      Apple          24.0     38000.0       Yes
[[31.03846154]]
31.038461538461537
   Fruit_Name  Weight_in_Kg  Total_Cost Purchased
0       Apple     44.000000     72000.0        No
6       Apple     31.038462     52000.0        No
9       Apple     37.000000     67000.0       Yes
15      Apple     24.000000     38000.0       Yes

In [101]:
ada_harga_berat_orange = ada_harga_berat[ada_harga_berat['Fruit_Name'] == 'Orange']
print(ada_harga_berat_orange)

X3 = ada_harga_berat_orange.iloc[:, 1].values.reshape(-1, 1)  # values converts it into a numpy array
Y3 = ada_harga_berat_orange.iloc[:, 2].values.reshape(-1, 1)  # -1 means that calculate the dimension of rows, but have 1 column
linear_regressor3 = LinearRegression()  # create object for the class
linear_regressor3.fit(X3, Y3)  # perform linear regression
print(f"intercept: {linear_regressor3.intercept_}")
print(f"slope: {linear_regressor3.coef_}")


orange = data[data['Fruit_Name'] == 'Orange']
print(orange)

for i in range(len(orange)):
    value = orange.iloc[i, 2]

    if pd.isna(value):
        x3 = orange.iloc[i, 1]
        y_pred3 = x3*linear_regressor3.coef_ + linear_regressor3.intercept_
        print(y_pred3)
        orange.iloc[i,2] = y_pred3
        print(orange.iloc[i, 2])

print(orange)

   Fruit_Name  Weight_in_Kg  Total_Cost Purchased
2      Orange          30.0     54000.0        No
10     Orange          47.0     63000.0        No
13     Orange          29.0     34000.0        No
intercept: [10338.76221498]
slope: [[1131.9218241]]
   Fruit_Name  Weight_in_Kg  Total_Cost Purchased
2      Orange          30.0     54000.0        No
4      Orange          40.0         NaN       Yes
10     Orange          47.0     63000.0        No
13     Orange          29.0     34000.0        No
[[55615.63517915]]
55615.63517915309
   Fruit_Name  Weight_in_Kg    Total_Cost Purchased
2      Orange          30.0  54000.000000        No
4      Orange          40.0  55615.635179       Yes
10     Orange          47.0  63000.000000        No
13     Orange          29.0  34000.000000        No

In [102]:
ada_harga_berat_mango = ada_harga_berat[ada_harga_berat['Fruit_Name'] == 'Mango']
print(ada_harga_berat_mango)

X4 = ada_harga_berat_mango.iloc[:, 1].values.reshape(-1, 1)  # values converts it into a numpy array
Y4 = ada_harga_berat_mango.iloc[:, 2].values.reshape(-1, 1)  # -1 means that calculate the dimension of rows, but have 1 column
linear_regressor4 = LinearRegression()  # create object for the class
linear_regressor4.fit(X4, Y4)  # perform linear regression
print(f"intercept: {linear_regressor4.intercept_}")
print(f"slope: {linear_regressor4.coef_}")


mango = data[data['Fruit_Name'] == 'Mango']
print(mango)

for i in range(len(mango)):
    value = mango.iloc[i, 2]

    if pd.isna(value):
        x4 = mango.iloc[i, 1]
        y_pred4 = x3*linear_regressor4.coef_ + linear_regressor4.intercept_
        print(y_pred4)
        mango.iloc[i,2] = y_pred4
        print(mango.iloc[i, 2])

print(mango)

   Fruit_Name  Weight_in_Kg  Total_Cost Purchased
1       Mango          27.0     48000.0       Yes
5       Mango          35.0     58000.0       Yes
12      Mango          46.0     76000.0        No
intercept: [7260.07326007]
slope: [[1483.51648352]]
   Fruit_Name  Weight_in_Kg  Total_Cost Purchased
1       Mango          27.0     48000.0       Yes
5       Mango          35.0     58000.0       Yes
11      Mango          39.0         NaN       Yes
12      Mango          46.0     76000.0        No
[[66600.73260073]]
66600.73260073259
   Fruit_Name  Weight_in_Kg    Total_Cost Purchased
1       Mango          27.0  48000.000000       Yes
5       Mango          35.0  58000.000000       Yes
11      Mango          39.0  66600.732601       Yes
12      Mango          46.0  76000.000000        No